body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
header{
    
    justify-content: space-between;
    display: flex;
    min-height: 70px;
    align-items: center;
    padding: 10px;
    background-color: white
    
    
}
.logo{
    display: flex;
    align-items: center;

}
.logo img{
    height: 50px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:grey ;
}
@media (max-width:680px){
    header{
        flex-direction:column;
    }
    nav{
        padding: 10px 0px;
    }
}